body.dark {
  margin: 0;
  font-family: "Helvetica Neue", helvetica, arial;
  /*
  background: #1C3E5C;
  background: #26547C;
  background: #384059;
  */
  background: #2a2a2a;
  font-size: 12px;
  color: white;
  text-align: center;
}
.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
header {
  padding: 50px;
  background: rgba(0,0,0,0.1);
  margin: 0 0 20px;
}
h1 {
  font-size: 50px;
}
.add input[type=text], .add button {
  font-size: 12px;
  border-radius: 0;
  outline: none !important;
}
.wallets h3 {
  text-align: left;
  font-size: 20px;
  color: yellowgreen;
}
.avatar {
  width: 30px;
}
.row {
  font-size: 12px;
  font-family: Menlo, monaco, Courier;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
a.navbar-brand {
  color: white;
  font-family: "Helvetica Neue", helvetica, arial;
  font-weight: bold;
}
.up {
  color: greenyellow;
}
.down {
  color: orangered;
}
.money-button-iframe-wrapper {
  margin-top: 10px;
}
.wallet-item {
  border-top: 1px solid rgba(255,255,255,0.05);
  /*
  border-top: 1px solid rgba(0,0,0,0.1);
  */
}
.wallet-item a:hover {
  background: rgba(0,0,0,0.1);
  text-decoration: none;
}
.wallet-item > a {
  color: white;
  padding: 10px 0;
  margin: 0;
}
.wallet-item.selected {
  background: rgba(0,0,0,0.1);
}
.wallet-item .info {
  text-align: left;
}
.wallet-item .info-content {
  padding: 10px;
  background: rgba(0,0,0,0.1);
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.wallet-item .info-content > .permalink {
  align-items: center;
  padding: 10px;
  margin: 0;
  display: flex;
}
.permalink input {
  padding: 5px 10px;
  outline: none;
  border: none;
  background: rgba(0,0,0,0.2);
  color: white;
  flex-grow: 1;
  margin-left: 5px;
}
.col-3, .col-6, .col-5, .col-2, .col-4 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.wallet-item .info-content > * {
  margin: 20px;
}
.hidden {
  display: none;
}
.block {
  display: block;
}
.wallets {
  padding: 10px 0;
}
a.addr {
  color: white;
  text-decoration: underline;
}
.address {
  color: goldenrod;
}
#add {
  background: crimson;
  border-color: crimson;
}
.navbar a {
  color: white;
}
.btn {
  border-radius: 0 !important;
}
.btn-danger {
  background: crimson;
  border-color: crimson;
  font-size: 12px;
}
.currency-selectors a:hover {
  background: rgba(0,0,0,0.1);
}
.currency-selectors a {
  padding: 5px 10px;
  text-decoration: none;
  font-family: Menlo, monaco, Courier;
  color: white;
  font-size: 14px;
}
#settings {
  font-family: Menlo, monaco, Courier;
}
.footer a {
  padding: 10px;
  color: white;
  margin-bottom: 100px;
}
h4 {
  padding: 10px;
}
#api {
  padding-right: 10px;
  color: rgba(255,255,255,0.8);
}
.api {
  background: rgba(0,0,0,0.1);
  padding: 20px;
}
.api pre {
  color: white;
  text-align: right;
  margin: 10px 0;
}
.chainfeed {
  padding: 10px;
  background: rgba(0,0,0,0.3);
}
.chainfeed a {
  color: gold;
}
.chainfeed img{
  height: 50px;
  margin-right: 10px;
}


.lds-ripple {
  margin-top: 100px;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

